---
version: 1
interactions:
- request:
    body: '{"credentials":{"name":"meteor_user","password":"xxxxxxxxxx","site":{"contentUrl":"testdev550928"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Tableau-Auth:
      - ""
    url: https://server.tableau.com/api/3.12/auth/signin
    method: POST
  response:
    body: '{"credentials":{"site":{"id":"529d2cc3-0b46-4360-aa69-688785ce1497","contentUrl":"testdev550928"},"user":{"id":"2aed1e7b-975b-430f-ab9d-a574bb88f245"},"token":"qCF7_qPxQb6nrPsYxjMpAA|ZILsQowSYmPNzTDdNBeqKRu2FO6M7Mcs"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Tableau:
      - Tableau Server
    status: '200 '
    code: 200
    duration: 1.851383702s
- request:
    body: "null"
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Tableau-Auth:
      - qCF7_qPxQb6nrPsYxjMpAA|ZILsQowSYmPNzTDdNBeqKRu2FO6M7Mcs
    url: https://server.tableau.com/api/3.12/sites/529d2cc3-0b46-4360-aa69-688785ce1497/projects?pageNumber=1&pageSize=100
    method: GET
  response:
    body: '{"pagination":{"pageNumber":"1","pageSize":"100","totalAvailable":"3"},"projects":{"project":[{"owner":{"id":"781984c3-c3f3-4e0d-8b56-52fc451a5cc1"},"id":"945de5fd-9e2b-494a-a683-186b420fa644","name":"default","description":"The
      default project that was automatically created by Tableau.","createdAt":"2021-11-01T11:32:24Z","updatedAt":"2021-11-01T11:32:24Z","contentPermissions":"ManagedByOwner"},{"owner":{"id":"2aed1e7b-975b-430f-ab9d-a574bb88f245"},"id":"46b2914d-6d2c-4cc5-ba2a-643840c036c6","name":"Samples","description":"This
      project includes automatically uploaded samples.","createdAt":"2021-11-01T11:32:28Z","updatedAt":"2021-11-01T11:32:28Z","contentPermissions":"ManagedByOwner"},{"owner":{"id":"2aed1e7b-975b-430f-ab9d-a574bb88f245"},"id":"c95e1f64-1c3c-4ddf-8999-047a54e2af44","name":"test-meteor","description":"This
      is test meteor","parentProjectId":"46b2914d-6d2c-4cc5-ba2a-643840c036c6","createdAt":"2021-11-02T11:57:07Z","updatedAt":"2021-11-04T08:33:43Z","contentPermissions":"ManagedByOwner"}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Tableau:
      - Tableau Server
    status: '200 '
    code: 200
    duration: 258.922191ms
- request:
    body: '{"query":"\n\t\t{ \n\t\t\tworkbooks(filter: { projectName: \"default\"
      }) {\n                id\n\t\t    \tname\n\t\t\t\turi\n\t\t    \tprojectName\n\t\t\t\tdescription\n\t\t    \tcreatedAt\n\t\t    \tupdatedAt\n\t\t\t\towner
      {\n\t\t\t\t\tid\n\t\t\t\t\tname\n\t\t\t\t\temail\n\t\t\t\t}\n\t\t    \tsheets
      {\n\t\t\t \t\tid\n\t\t\t \t\tname\n\t\t\t \t\tcreatedAt\n\t\t\t \t\tupdatedAt\n\t\t    \t}\n\t\t    \tupstreamTables
      {\n\t\t\t    \tname\n\t\t\t    \tschema\n\t\t\t\t\tfullName\n\t\t\t    \tdatabase
      {\n\t\t\t\t\t    id\n\t\t\t\t\t    name\n\t\t\t\t\t    connectionType\n\t\t\t\t    \tdescription\n\t\t\t\t    \t...
      on DatabaseServer {\n\t\t\t\t\t    \thostName\n\t\t\t\t\t    \tport\n\t\t\t\t\t    \tservice\n\t\t\t\t     \t}\n\t\t\t\t     \t...
      on CloudFile {\n\t\t\t\t\t \t\tprovider\n\t\t\t\t\t \t    fileExtension\n\t\t\t\t\t
      \t    mimeType\n\t\t\t\t\t \t    requestUrl\n\t\t\t\t     \t}\n\t\t\t\t     \t...
      on File {\n\t\t\t\t\t \t    filePath\n\t\t\t\t     \t}\n\t\t\t\t     \t... on
      WebDataConnector {\n\t\t\t\t\t \t    connectorUrl\n\t\t\t\t     \t}\n\t\t\t    \t}\n\t\t    \t}\n\t    \t}\n    \t}\n"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Tableau-Auth:
      - qCF7_qPxQb6nrPsYxjMpAA|ZILsQowSYmPNzTDdNBeqKRu2FO6M7Mcs
    url: https://server.tableau.com/api/metadata/graphql
    method: POST
  response:
    body: '{"data":{"workbooks":[]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status: '200 '
    code: 200
    duration: 969.982821ms
[...]
