---
version: 1
interactions:
- request:
    body: '{"credentials":{"name":"meteor_user","password":"xxxxxxxxxx","site":{"contentUrl":"testdev550928"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Tableau-Auth:
      - ""
    url: https://server.tableau.com/api/3.12/auth/signin
    method: POST
  response:
    body: '{"credentials":{"site":{"id":"529d2cc3-0b46-4360-aa69-688785ce1497","contentUrl":"testdev550928"},"user":{"id":"2aed1e7b-975b-430f-ab9d-a574bb88f245"},"token":"62x6Dwz3TueZJ90MvVBVtA|vN05qPXNMvAswMxkucHktjWecNvJIIAS"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Tableau:
      - Tableau Server
    status: '200 '
    code: 200
    duration: 1.699004504s
