LOG_LEVEL: info
MAX_RETRIES: 5
RETRY_INITIAL_INTERVAL_SECONDS: 5
STOP_ON_SINK_ERROR: false
APP_NAME: meteor
OTEL_ENABLED: false
OTEL_COLLECTOR_ADDR: "localhost:4317"
OTEL_TRACE_SAMPLE_PROBABILITY: 1
SINK_BATCH_SIZE: 10