name: Build

on:
  push:
    branches:
      - master
      - main
      - fix-build-worflow

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Get release tag
      id: get_version
      uses: battila7/get-version-action@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.17'
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v2.6.1
      with:
        distribution: goreleaser
        version: latest
        args: --snapshot --rm-dist
    - name: Login to GitHub Packages Docker Registry
      uses: docker/login-action@v1
      with:
        registry: docker.pkg.github.com
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Push Images
      run: docker push docker.io/odpf/meteor:latest
